.changebg-container{
    display: flex;
    padding: 20px;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 80px;
    h2{
        align-self: center;
        font-size: 40px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }
    h3{
        margin-top: 30px;
    }

    .btn-wrapper{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        min-width: 200px;
        height: 60px;
        padding: 10px;
        align-items: center;

    }
}

.flex{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.icon{
    cursor: pointer;
    position: relative;
}