.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: #000;
    margin: 0px 20px;
    color: #fff;
}